.matter{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: bold;
  color: black;
  font-size: 150%;
}
.class{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.head1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.see{
  font-family: 'Times New Roman', Times, serif;
}
.btn{

  color: rgb(255, 0, 0);
}
// .go{
//   color: red;
//   text-align: center;
// }
